<header>
  <a href="/"><img class="logo" src="images/remove.webp" alt="Re:move ロゴ" /></a>
  <nav aria-label="グローバルナビゲーション" class="gnav">
    <ul>
      <li class="has-submenu">

        <div class="submenu-toggle">

          <a href="index.html#support">
            <span>
              <i class="fas fa-hands-helping"></i>Support
            </span>
          </a>

          <button class="submenu-btn" type="button" aria-label="サブメニューを開く">
            <i class="fas fa-chevron-down submenu-arrow"></i>
          </button>

        </div>

        <ul class="submenu">
          <li><a href="dance-support.html">ダンス上達サポート</a></li>
          <li><a href="seitai-pilates.html">整体×ピラティス</a></li>
        </ul>

      </li>
      <li><a href="index.html#examples"><i class="fas fa-chart-line"></i>Examples</a></li>
      <li class="has-submenu">

        <div class="submenu-toggle">

          <a href="approach.html">
            <span>
              <i class="fas fa-hand-holding"></i>Approach
            </span>
          </a>

          <button class="submenu-btn" type="button" aria-label="サブメニューを開く">
            <i class="fas fa-chevron-down submenu-arrow"></i>
          </button>

        </div>

        <ul class="submenu">
          <li><a href="dancer-seitai.html">ダンサー整体</a></li>
          <li><a href="tougou-work.html">反射の統合ワーク</a></li>
          <li><a href="pilates.html">ピラティス</a></li>
        </ul>

      </li>
      <li><a href="prices.html"><i class="fas fa-donate"></i>Prices</a></li>
      <li><a href="profile.html"><i class="far fa-address-card"></i>Profile</a></li>
      <li><a href="https://remove-theramove.square.site/" target="_blank" rel="noopener noreferrer">TheraMove購入</a>
      <li><a href="index.html#access"><i class="fas fa-map-marker-alt"></i>Access</a></li>
      <li><a href="#contact"><i class="fas fa-envelope"></i>Contact</a></li>
    </ul>
  </nav>
  <div class="menu"></div>
</header>